services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  app:
    build:
      dockerfile: Dockerfile
    environment:
      SERVER_PORT: 8082
      DATASOURCE_URL: jdbc:postgresql://db:5432/appdb
      DATASOURCE_USERNAME: postgres
      DATASOURCE_PASSWORD: postgres
    depends_on:
      - db
    ports:
      - "8082:8082"
