services:
  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data

  app:
    container_name: app
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8082:8082"

volumes:
  postgres-db-volume: